<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/hsiung/stylesheets/style.css">
    <title>新建帳號</title>
</head>
<body>

 <div class="box2">

     <form action="/add" method="post">
         　姓名：<input type="text" name="name"><br>
         　郵件：<input type="text" name="email"><br>
         　電話：<input type="text" name="number"><br>
         　地址：<input type="text" name="address"><br>
         　<input type="submit" value= "儲   存" style="width: 100px" />
           <input type="button" value= "取   消 " onclick='history.back()'  style="width: 100px"  />
     </form>
 </div>




</body>
</html>
